DamageResistanceTemplates(
    damage_resistances: [
           ("Infantry", []),
           ("Militia", [("Cavalry Sword", -10), ("Dragoon Sword", -10), ("Cavalry Sabre", -10), ("Cavalry Lance", -10)]),
           ("Guards Infantry", []),
           ("Grenadiers", []),
           ("Light Infantry", []),
           ("Dragoons", [
                ("Bayonet", -25),
                ("Cavalry Sword", -10),
                ("Cavalry Sabre", 10),
                ("Cavalry Lance", -5),
                ("Musket", -50),
                ("Marksman Musket", -60),
                ("Rifle", -60),
                ("18-lb Cannon Ball", 5),
                ("12-lb Cannon Ball", 5),
                ("10-lb Cannon Ball", 5),
                ("8-lb Cannon Ball", 5),
                ("6-lb Cannon Ball", 5),
                ("4-lb Cannon Ball", 5),
                ("18-lb Explosive Shell", 10),
                ("10-lb Explosive Shell", 10),
                ("Explosive Shell", 5),
                ("18-lb Canister Fire", 5),
                ("12-lb Canister Fire", 5),
                ("10-lb Canister Fire", 5),
                ("8-lb Canister Fire", 5),
                ("6-lb Canister Fire", 5),
                ("4-lb Canister Fire", 5),
                ("Howitzer Canister", 5),
                ("Rocket", -25)
           ]),
           ("Lancers", [
                ("Bayonet", -20),
                ("Cavalry Sword", -30),
                ("Cavalry Lance", -15),
                ("Musket", -50),
                ("Marksman Musket", -50),
                ("Rifle", -50),
                ("18-lb Cannon Ball", 5),
                ("12-lb Cannon Ball", 5),
                ("10-lb Cannon Ball", 5),
                ("8-lb Cannon Ball", 5),
                ("6-lb Cannon Ball", 5),
                ("4-lb Cannon Ball", 5),
                ("18-lb Explosive Shell", 10),
                ("10-lb Explosive Shell", 10),
                ("Explosive Shell", 5),
                ("18-lb Canister Fire", 15),
                ("12-lb Canister Fire", 15),
                ("10-lb Canister Fire", 15),
                ("8-lb Canister Fire", 15),
                ("6-lb Canister Fire", 15),
                ("4-lb Canister Fire", 15),
                ("Howitzer Canister", 15),
                ("Rocket", -20)
           ]),
           ("Cuirassiers", [
                ("Bayonet", -15),
                ("Dragoon Sword", 40),
                ("Cavalry Sabre", 50),
                ("Cavalry Lance", -20),
                ("Musket", -35),
                ("Marksman Musket", -40),
                ("Rifle", -40),
                ("18-lb Cannon Ball", 5),
                ("12-lb Cannon Ball", 5),
                ("10-lb Cannon Ball", 5),
                ("8-lb Cannon Ball", 5),
                ("6-lb Cannon Ball", 5),
                ("4-lb Cannon Ball", 5),
                ("18-lb Explosive Shell", 10),
                ("10-lb Explosive Shell", 10),
                ("Explosive Shell", 5),
                ("18-lb Canister Fire", 10),
                ("12-lb Canister Fire", 10),
                ("10-lb Canister Fire", 10),
                ("8-lb Canister Fire", 10),
                ("6-lb Canister Fire", 10),
                ("4-lb Canister Fire", 10),
                ("Howitzer Canister", 10),
                ("Rocket", -25)
           ]),
           ("Hussars", [
                ("Bayonet", -20),
                ("Cavalry Sword", -30),
                ("Dragoon Sword", -15),
                ("Cavalry Lance", -15),
                ("Musket", -20),
                ("Marksman Musket", -25),
                ("Rifle", -25),
                ("18-lb Cannon Ball", 50),
                ("12-lb Cannon Ball", 50),
                ("10-lb Cannon Ball", 50),
                ("8-lb Cannon Ball", 50),
                ("6-lb Cannon Ball", 50),
                ("4-lb Cannon Ball", 50),
                ("18-lb Explosive Shell", 50),
                ("10-lb Explosive Shell", 50),
                ("Explosive Shell", 55),
                ("18-lb Canister Fire", 15),
                ("12-lb Canister Fire", 15),
                ("10-lb Canister Fire", 15),
                ("8-lb Canister Fire", 15),
                ("6-lb Canister Fire", 15),
                ("4-lb Canister Fire", 15),
                ("Howitzer Canister", 15),
                ("Rocket", 20)
           ]),
           ("Rifles", [
                ("Bayonet", -40),
                ("Dragoon Sword", -70),
                ("Cavalry Sabre", -70),
                ("Cavalry Lance", -70),
                ("Musket", 80),
                ("Marksman Musket", 65),
                ("Rifle", 30),
                ("18-lb Cannon Ball", 98),
                ("12-lb Cannon Ball", 98),
                ("10-lb Cannon Ball", 98),
                ("8-lb Cannon Ball", 98),
                ("6-lb Cannon Ball", 99),
                ("4-lb Cannon Ball", 98),
                ("18-lb Explosive Shell", 65),
                ("10-lb Explosive Shell", 75),
                ("Explosive Shell", 55),
                ("18-lb Canister Fire", 98),
                ("12-lb Canister Fire", 98),
                ("10-lb Canister Fire", 98),
                ("8-lb Canister Fire", 98),
                ("6-lb Canister Fire", 98),
                ("Howitzer Canister", 98),
                ("Rocket", 80)
           ]),
           ("Skirmishers", [
                ("Bayonet", -40),
                ("Dragoon Sword", -70),
                ("Cavalry Sabre", -70),
                ("Cavalry Lance", -70),
                ("Musket", 80),
                ("Marksman Musket", 65),
                ("Rifle", 30),
                ("18-lb Cannon Ball", 98),
                ("12-lb Cannon Ball", 98),
                ("10-lb Cannon Ball", 98),
                ("8-lb Cannon Ball", 98),
                ("6-lb Cannon Ball", 99),
                ("4-lb Cannon Ball", 98),
                ("18-lb Explosive Shell", 65),
                ("10-lb Explosive Shell", 75),
                ("Explosive Shell", 55),
                ("18-lb Canister Fire", 98),
                ("12-lb Canister Fire", 98),
                ("10-lb Canister Fire", 98),
                ("8-lb Canister Fire", 98),
                ("6-lb Canister Fire", 98),
                ("Howitzer Canister", 98),
                ("Rocket", 80)
           ]),
           ("8-lb Foot Artillery", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ]),
           ("6-lb Horse Artillery", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ]),
           ("12-lb Foot Artillery", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ]),
           ("4-lb Foot Artillery", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ]),
           ("6-lb Foot Artillery", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ]),
           ("6-in Howitzer", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ]),
           ("10-lb Licorne", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ]),
           ("18-lb Licorne", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ]),
           ("Rockets", [
                ("Bayonet", -100),
                ("Cavalry Sword", -135),
                ("Dragoon Sword", -135),
                ("Cavalry Sabre", -135),
                ("Cavalry Lance", -135),
                ("Musket", -60),
                ("Marksman Musket", -90),
                ("Rifle", -90),
                ("18-lb Cannon Ball", 15),
                ("12-lb Cannon Ball", 15),
                ("10-lb Cannon Ball", 25),
                ("8-lb Cannon Ball", 25),
                ("6-lb Cannon Ball", 40),
                ("4-lb Cannon Ball", 60),
                ("18-lb Explosive Shell", 15),
                ("10-lb Explosive Shell", 20),
                ("Explosive Shell", 10),
                ("18-lb Canister Fire", 40),
                ("12-lb Canister Fire", 40),
                ("10-lb Canister Fire", 40),
                ("8-lb Canister Fire", 40),
                ("6-lb Canister Fire", 50),
                ("4-lb Canister Fire", 50),
                ("Howitzer Canister", 40),
                ("Rocket", 80)
           ])
           ]

)